Список требований к кандидату на должность React-фронтенд разработчика уровня Middle+/Senior с опытом работы не менее 5 лет:

Основные требования:
1. Опыт работы:
   - Минимум 5 лет опыта в разработке фронтенда
   - Минимум 3 года работы с React.js
   - Опыт работы с Next.js не менее 2 лет
   - Опыт разработки на Node.js, включая создание ботов и серверных приложений

2. Технические навыки:
   - Глубокие знания и опыт работы с JavaScript (ES6+), включая async await, closure, prototypes и т.п.
   - Опыт работы с TypeScript
   - Отличное знание и опыт работы с React.js и его экосистемой (Redux/MobX, React Router, React Hooks)
   - Опыт работы с Next.js, включая SSR, SSG и ISR
   - Знание и опыт работы с CSS и CSS-in-JS решениями (Styled-components, Emotion) или CSS-предпроцессорами (SASS, LESS)
   - Опыт работы с современными сборщиками и инструментами разработки (Webpack, Babel, Vite)
   - Опыт работы с RESTful
   - Знание современных инструментов управления состоянием (Zustand, MobX, Redux, Recoil и др.)
   - Понимание принципов работы и применения CI/CD, опыт работы с системами контейнеризации (Docker) и деплоя

3. Архитектура и проектирование:
   - Опыт проектирования архитектуры фронтенд-приложений
   - Понимание принципов проектирования и паттернов разработки (SOLID, DRY, KISS, YAGNI)
   - Понимание и опыт применения принципов разработки UI/UX

4. Системы контроля версий и командная работа:
   - Уверенное владение Git
   - Опыт работы в Agile-командах, участие в Scrum или Kanban процессах

5. Софт-скиллы:
   - Способность эффективно общаться и работать в команде
   - Умение работать с технической документацией на английском языке
   - Способность самостоятельно принимать решения и решать сложные задачи
   - Готовность обучаться и осваивать новые технологии, а также делиться своим опытом
   - Умение следовать установленному кодстайлу и корпоративным стандартам, уважение к командным процессам и решение задач без лишнего самовыражения и конфликтов

6. Дополнительные навыки (будут плюсом):
   - Опыт работы по методологии FSD
   - Опыт работы с системами модульного и компонентного тестирования
   - Опыт написания тестов (Jest, React Testing Library, Enzyme)
   - Опыт работы с WebSocket, Server-Sent Events, или другими технологиями реального времени
